{% set bodyClass = 'home' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}


{% extends "default/_layouts/site" %}

{% block navigation %}
<!-- Desktop Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-center">

  <div class="shrink cell ">
<ul class="menu align-center margin-bottom-2 dark-gray">
  {% nav category in craft.categories.group('typeOfProject').all() %}
    <li>
     <a href="{{ category.url }}">{{ category.title }}</a>
    </li>
  {% endnav %}
  <li><a href="/info">Info</a></li>
</ul>
  </div>

</div>
<!-- End Desktop Navigation -->
{% endblock %}

{% block main %}
<div class="grid-x grid-padding-x grid-padding-y">
<div class="small-12 cell text-center">
<div class="margin-bottom-2"><a href="#" class="h1 text-uppercase" data-toggle="overlayNavigation">Anton Smári Gunnarsson</a></div>
<div><a href="#" class="h2 text-uppercase dark-gray" data-toggle="overlayNavigation">Director of Photography</a></div>
{# <div class="margin-top-2"><a href="#" class="dark-gray text-uppercase margin-top-2" aria-label="Navigation" data-toggle="overlayNavigation">Menu</a></div> #}
</div>
</div>
{% endblock %}


{% block footer %}
<!-- Desktop Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-center">

  <div class="small-10 cell text-center">
    <div class="dark-gray">© {{ "now"|date('Y') }}</div>
  </div>

</div>
<!-- End Desktop Navigation -->
{% endblock %}

