{% set bodyClass = 'home' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}


{% extends "default/_layouts/site" %}

{% block navigation %}
<!-- Desktop Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-center">

  <div class="shrink cell ">
    <a href="#" class="dark-gray text-uppercase" aria-label="Navigation" data-toggle="overlayNavigation">Menu</a>
  </div>

</div>
<!-- End Desktop Navigation -->
{% endblock %}

{% block main %}
<div class="grid-x grid-padding-x grid-padding-y">
<div class="small-12 cell text-center">
<a href="#" class="h1 text-uppercase" data-toggle="overlayNavigation">Anton Smári Gunnarsson</a>
</div>
</div>
{% endblock %}


{% block footer %}
<!-- Desktop Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-center">

  <div class="small-10 cell">
    <ul class="menu dark-gray align-center">
      {% for block in socials.socials.all() %}
      {% switch block.type %}
        {% case "instagram" %}
          <li class="padding-left"><a href="{{block.socialLink}}" target="_blank">Instagram</a></li>
        {% case "vimeo" %}
          <li><a href="{{block.socialLink}}" target="_blank">Vimeo</a></li>
      {% endswitch %}
      {% endfor %}
    </ul>
  </div>

</div>
<!-- End Desktop Navigation -->
{% endblock %}

