@font-face {
  font-family: 'Off White';
  src: 
  url('../fonts/off-white.woff2') format('woff2'), 
  url('../fonts/off-white.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text Medium';
  src: 
  url('../fonts/helvetica-now-text-medium.woff2') format('woff2'), 
  url('../fonts/helvetica-now-text-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Micro';
  src: 
  url('../fonts/Helvetica Now Micro.woff2') format('woff2'), 
  url('../fonts/Helvetica Now Micro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Micro Medium';
  src: 
  url('../fonts/Helvetica Now Micro Medium.woff2') format('woff2'), 
  url('../fonts/Helvetica Now Micro Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}